<header>
  <nav>
    <h1><span class="your-name"><%= @user.name %></span>'s <span class= "city-name"><%= @city_list.city %></span><span class="list-title">List</span></h1>
    <ul>
      <li><%= link_to "LOG OUT", logout_path, method: :delete %></li>
    </ul>
  </nav>
  <div class="clear"></div>
</header>

<div class="map-background"></div>

<div class="bucket-list">
  <ul id="list-items">
    <% @list_items.each do |list_item| %>
      <li><i class="heart fa fa-heart-o"></i><i class="checkbox fa fa-square-o"></i> <%= list_item.title %> <i class="fa fa-times opaque"></i></li>
    <% end %>
  </ul>
  <form>
    <input type="text" placeholder="Enter your next item here..." name="new_item" id="new_item" size="32"> <i class="save-button fa fa-chevron-circle-right"></i>
  </form>
</div>