<!-- <div class="loading-screen">
  <div class= "spinner"></div>
</div> -->
<iframe width='100%' height='700px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/lo-k.lb5nai9c/attribution,zoompan,geocoder,share.html?access_token=pk.eyJ1IjoibG8tayIsImEiOiI2MlRSblJNIn0.BHAPbjvKJOJErIpztHN2Lw'></iframe>
<div class="logo-box">
  <h1><span class="city">City</span>List</h1>
  <div class="open-login-button">Your Lists</div>
</div>

<div class="modalcontainer hide">
  <div class="login-box">
    <h3>Login</h3>
    <h4>Name</h4><input type="text" placeholder="Enter your name here" name="name" id="name" size="25">
    <h4>Password</h4><input type="password" placeholder="Enter your password here" name="password" id="password" size="25">   <div class="save-button">&#9002;</div>
  </div>
</div>