/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/******************************************
/* SETUP                   
/*******************************************/

/* Box Model */
* {
     box-sizing: border-box;
}

/* Clear fix */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right; 
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left; 
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.hide {
     display: none;
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     margin: 0;     
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
}

.fa {
    color: #444444;
}
/******************************************
/* BASE FORM STYLES                 
/*******************************************/

/***** TEXT COLORS

white background #FFFFFF
fire engine red #D01A2B
tuatara #444444          (drk grey)
iron #CCCCCC             (grey borders)
loblolly #B8B8B8         (lgt grey)
white lilac #E9E9E9      (super lgt grey (search field and background))

*****/

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

/******************************************
/* Header/Nav Bar               
/*******************************************/

header {
     padding-left: 10px;
     padding-bottom: 15px;
     background-color: #FFFFFF;
     border: 2px solid #CCCCCC;
     box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
     width: 100%;
     position: fixed;
     z-index: 1000;
    top: 0;
    left: 0;
}

h1 {
     display: inline;
     font-family: 'News Cycle', sans-serif;
     font-size: 3em;
     color: #B8B8B8;
     font-weight: 400;
}

h2 {
    font-weight: 200;
}

.city-name {
    color: #D01A2B;
    font-size: 1.2em;
}

nav {
    margin-top: 10px;
}

nav ul {
     float: right;
     padding-top: 29px;
     margin: 0;
}

nav li {
     display: inline;
}

header ul li, 
header ul li a {
     text-decoration: none;
     padding-right: 20px;
     color: #444444; /*dark grey font*/
     font-family: 'News Cycle', sans-serif;
     font-size: 1.25em;
}

header ul li a:hover {
     color: #D01A2B; /*red font*/
     text-decoration: none;
}

/******************************************
/* Scroll to Top         
/*******************************************/

.scroll-to-top {
     position: fixed;
     right: 0;
     bottom: 0;
     width: 55px;
     height: 77px;
     font-size: 1.5em;
     font-weight: 400;
     opacity: 0.3;
     text-align: center;
     padding: 10px;
     margin: 15px;
     background-color: whiteSmoke;
     display: none;
     z-index: 1;
}

.scroll-to-top a {
     text-decoration: none;
     color: black;
     height: 100%;
     width: 100%;
     display: block;
}

/******************************************
/* Footer        
/*******************************************/

footer {
     background-color: #FFFFFF;     
     box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
     font-family: 'News Cycle', sans-serif;
     color: #444444;
     font-size: 1.2em;
}

.wrapper {
   padding: 20px;  
}

