
// SHOW PAGE


.bucket-list {
  // position: absolute;
  margin-top: 120px;
  margin-bottom: 30px;  
  width: 35%;
  border: .8px solid #444444;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);

}

.bucket-list ul li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #444444;
  font-size: 1.25em;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
}

#list-items a {
  text-decoration: none;
}

.completed {
  color: #B8B8B8;
  font-style: italic;
}

.fa {
  padding-right: 10px;
}

.email {
  display: none;
}

input[type="text"] {
  font-family: 'Open Sans', sans-serif;     
  font-weight: 400;
  color: #444444;
  font-size: 1em;
  margin-left: 40px;
  margin-bottom: 20px;
}

input[type="submit"] {
  margin-left: 35px;
  margin-bottom: 35px;
}

.opaque {
  opacity: 0.2;
}

.new-list-item-title {
  margin-left: 30px;
}