// Dashboard

.city-list-body {
  padding-top: 110px;
  min-height: 600px;
}

.city-list {
  border: .8px solid #444444;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  height: 250px;
  width: 20%;
  margin: 13px;
  float:left;
  display: inline;
  text-align: center;
}

.city-list a {
  text-decoration: none;
}

.city-list h2 {
  margin-top: 80px;
  font-size: 4em;
  color: #000;
}

