// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/******************************************
/* SETUP                   
/*******************************************/

/* Box Model */
* {
     box-sizing: border-box;
}

.hide {
  display: none;
}

/******************************************
/*  MAIN STYLES                   
/*******************************************/


iframe {
  float: left;
}

header {
  width: 100%;
}

h1 {
    font-family: 'News Cycle', sans-serif;
    font-size: 8em;
    color: #444444;
    font-weight: 400;
    position: relative;
    margin: 0px auto;
    padding-bottom: 20px;

}

.logo-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 196px;
  width: 370px;
  margin: auto;
  bottom: 0;
  right: 0;
}


.open-login-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Open Sans', sans-serif;  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  background: #B8B8B8;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 120px;
  margin: auto;
}

.open-login-button:hover {
  background: #D01A2B;
  text-decoration: none;
}


/******************************************
/* Login Modal                  
/*******************************************/

h3 {
  font-family: 'News Cycle', sans-serif;
    font-size: 2.3em;
    color: #444444;
    font-weight: 400;
    margin: 0px auto;
    width: 84px;
    padding-bottom: 10px;
}

h4 {
  font-family: 'News Cycle', sans-serif;
    font-size: 1em;
    color: #444444;
    font-weight: 400;
    position: relative;
    margin: 0px auto;
}

.modalcontainer {
  background-color: rgba(0,0,0,0.7);
}

.login-box {
  position: absolute;
  background-color: #FFFFFF;     
  border: 1.3px solid #444444;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  padding: 20px;
  top:0;
  left:0;
  height: 230px;
  width: 25%;
  margin: auto;
  margin-top: 15%;
  bottom:0;
  right:0;
}

input[type="text"],
input[type="password"] {
   font-family: 'Open Sans', sans-serif;     
   font-weight: 400;
   color: #444444;
   font-size: .8em;
   margin-bottom: 10px;
}


.save-button {
   display: inline-block;
   -webkit-border-radius: 28;
   -moz-border-radius: 28;
   border-radius: 28px;
   font-family: 'Open Sans', sans-serif;     
   color: #ffffff;
   font-size: .6em;
   font-weight: 700;
   background: #B8B8B8;
   padding: 5px 9px 5px 9px;
   width: .3%;
   line-height: 1em;
}

.save-button a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;     
  color: #ffffff;
  font-size: .6em;
  font-weight: 700;
}

.save-button:hover {
  background: #D01A2B;
  text-decoration: none;
}


.loading-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #E9E9E9;
  margin: auto;
  z-index: 9000;
}


.spinner {
  width: 30px;
  height: 30px;
  background-color: #333;
  z-index: 9900;
  margin: 100px auto;
  left: 0;
  right: 0;
  
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
