<!DOCTYPE html>
<html>
<head>
  <title>CityList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600,700' rel='stylesheet' type='text/css'>
  
  <!-- Font icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">    
</head>

<div class="container">
  <body>
    <a name="top-of-page"></a>

    <%= yield %>

    <div class="scroll-to-top"><a href="#top-of-page" class="smoothScroll"><i class="fa fa-angle-double-up fa-3x"></i></a></div>
    
    <footer>
      <div class="wrapper">
        © 2015 CityLists.
      </div>
    </footer>
  </body>
</div>
</html>
